[Unit]
Description=Volatile write layer for system configuration extensions
Before=systemd-confext.service

[Mount]
What=tmpfs
Where=/var/lib/extensions.mutable
Type=tmpfs
Options=mode=0700,nodev,nosuid,noexec

[Install]
WantedBy=local-fs.target
